

@font-face {
				font-family: "UTM";
				src: url("../fonts/UTMEremitage.eot");
				src: url("../fonts/UTMEremitage.eot?#iefix") format("embedded-opentype"),
				url("../fonts/UTMEremitage.woff") format("woff"),
				url("../fonts/UTMEremitage.ttf") format("truetype"),
				url("../fonts/UTMEremitage.svg#UTMEremitage") format("svg");
				font-weight: normal;
				font-style: normal;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
		}